In [15]:
import pandas as pd 
import matplotlib.pyplot as plt

In [16]:
V_08=pd.read_csv('all_alpha_08.csv')
V_08.head(5)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [17]:
V_08.shape

(2404, 18)

In [18]:
V_18=pd.read_csv('all_alpha_18.csv')
V_18.head(5)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

## Number of samples in each dataset

In [19]:
print(len(V_08),len(V_18))

2404 1611

## Number of columns in each dataset

In [20]:
print(len(V_08.columns),len(V_18.columns))

18 18

## Find the Number of duplicated rows in each dataset

In [21]:
len(V_08)-len(V_08.drop_duplicates())

25

In [22]:
# V_08.drop_duplicates()

In [23]:
len(V_18)-len(V_18.drop_duplicates())

0

In [24]:
len(V_08.drop_duplicates())

2379

In [25]:
V_08.head(3)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no

In [26]:
V_18.head(3)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402

## print the Datatype for each column in the two datasets

In [27]:
V_08.head(5)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [28]:
V_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [29]:
V_18.head(5)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [30]:
V_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Stnd                  1611 non-null   object
 8   Stnd Description      1611 non-null   object
 9   Underhood ID          1611 non-null   object
 10  Veh Class             1611 non-null   object
 11  Air Pollution Score   1611 non-null   int64
 12  City MPG              1611 non-null   object
 13  Hwy MPG               1611 non-null   object
 14  Cmb MPG               1611 non-null   object
 15  Greenhouse Gas Score  1611 non-null   int64
 16  SmartWay              1611 non-null   object
 17  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

In [31]:
len(V_08.columns)

18

## Rows with missing data

In [232]:
null_V_08 =V_08.shape[0] - V_08.dropna().shape[0]
null_V_08

0

In [33]:
null_V_18 =V_18.shape[0] - V_18.dropna().shape[0]
null_V_18

2

## Lets See some unique values in each of these datasets

In [34]:
V_08['SmartWay'].unique()

array(['no', 'yes'], dtype=object)

In [35]:
V_18['SmartWay'].unique()

array(['No', 'Yes', 'Elite'], dtype=object)

In [36]:
V_08['Sales Area'].unique()

array(['CA', 'FA', 'FC'], dtype=object)

In [37]:
len(V_08['Trans'].unique())

15

In [38]:
V_08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

In [39]:
V_18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

In [40]:
V_08['Fuel'].unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'],
      dtype=object)

In [41]:
V_18['Fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)

In [42]:
print('Gasoline' in V_08['Fuel'].unique())

True

In [43]:
'Gasoline' in V_18['Fuel'].unique()

True

In [44]:
print( 'Ethanol/Gas' in V_18['Fuel'].unique())
print( 'Ethanol/Gas' in V_08['Fuel'].unique())

True
False

In [45]:
print( 'Gasoline/Electricity' in V_18['Fuel'].unique())
print( 'Gasoline/Electricity' in V_08['Fuel'].unique())

True
False

In [46]:
print( 'CNG' in V_18['Fuel'].unique())
print( 'CNG' in V_08['Fuel'].unique())

False
True

In [47]:
print( 'Electricity' in V_18['Fuel'].unique())
print( 'Electricity' in V_08['Fuel'].unique())

True
False

In [48]:
V_08=pd.read_csv('all_alpha_08.csv')
V_18=pd.read_csv('all_alpha_18.csv')

In [49]:
V_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no

In [50]:
V_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386

# Drop Columns that is not needed

In [51]:
# drop columns from 2008 dataset
V_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)
# confirm changes
V_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [52]:
# drop columns from 2008 dataset
V_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis=1, inplace=True)

# confirm changes
V_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

# Rename Columns with other names that is easy for the developer

In [53]:
V_08.rename(columns={'Sales Area': 'Cert Region'}, inplace=True)
V_08.head(5)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

# We want to make sure that all the columns names for 2008 and 2018 datasets are identical



# lets remove the spaces in the columns names and replace it with _  
# and then make it lower case letters


### We can make this process done using Strip function, Python strip functions remove characters or white spaces from the beginning or end of a string.

### rather than using For loop that could makes our code builky we can use Lambda Function to loop over all the possible values

In [54]:
# replace spaces with underscores and lowercase labels for 2008 dataset
V_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

Lambda functions consist of three parts:

    Keyword
    Bound variable/argument, and
    Body or expression

The keyword is mandatory, and it must be a lambda, whereas the arguments and body can change based on the requirements. You must be wondering why you should go for lambda functions when you have other regular functions. Fair question – let me elaborate on this.

![](lambda.jpg)

![](lambda_V2.png)

In [55]:
# replace spaces with underscores and lowercase labels for 2008 dataset
V_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
V_18.head(5)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,small SUV,3,19,27,22,4,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,23,33,27,6,No

In [56]:
# confirm column labels for 2008 and 2018 datasets are identical
len(V_18.columns) == len(V_08.columns)

True

In [57]:
# make sure they're all identical like this
(V_18.columns == V_08.columns).all()

True

In [58]:
# save new datasets for next section
V_08.to_csv('data_08_v1.csv', index=False)
V_18.to_csv('data_18_v1.csv', index=False)

# Filter, Drop Nulls, Dedupe
Use `data_08_v1.csv` and `data_18_v1.csv`. You should've created these data files in the previous section: *Cleaning Column Labels*.

In [59]:
V_08=pd.read_csv('data_08_v1.csv')
V_18=pd.read_csv('data_18_v1.csv')

In [60]:
V_08.shape

(2404, 14)

In [61]:
V_18.shape

(1611, 14)

In [62]:
V_08=V_08[V_08['cert_region'] =='CA']

In [63]:
V_08['cert_region'].unique()

array(['CA'], dtype=object)

In [64]:
V_18=V_18[V_18['cert_region'] =='CA']

In [65]:
V_18['cert_region'].unique()

array(['CA'], dtype=object)

In [66]:
print(len(V_18))

798

In [67]:
print(len(V_08))

1084

In [68]:
V_08.shape

(1084, 14)

In [69]:
V_18.shape

(798, 14)

In [70]:
V_08

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no
6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,18,26,21,6,yes
7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,17,26,20,6,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,VOLVO V70,3.2,(6 cyl),Auto-S6,2WD,Gasoline,CA,station wagon,7,16,24,19,5,no
2396,VOLVO XC 70,3.2,(6 cyl),Auto-S6,4WD,Gasoline,CA,SUV,7,15,22,17,4,no
2398,VOLVO XC 90,3.2,(6 cyl),Auto-S6,2WD,Gasoline,CA,SUV,7,14,20,16,4,no
2399,VOLVO XC 90,3.2,(6 cyl),Auto-S6,4WD,Gasoline,CA,SUV,7,14,20,16,4,no
2400,VOLVO XC 90,4.4,(8 cyl),Auto-S6,4WD,Gasoline,CA,SUV,7,13,19,15,3,no

In [71]:
V_08.drop(['cert_region'], axis=1, inplace=True)
V_18.drop(['cert_region'], axis=1, inplace=True)

In [72]:
V_08.shape

(1084, 13)

In [73]:
V_18.shape

(798, 13)

## View missing value count for each feature in 2008

In [74]:
V_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [75]:
V_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

# drop rows with any null values in both datasets

In [76]:
V_18.dropna(inplace=True)

In [77]:
V_08.dropna(inplace=True)

# checks if any of columns in 2008 have null values - should print False

In [78]:
V_08.isnull().sum().any()

False

In [79]:
V_18.isnull().sum().any()

False

# print number of duplicates in 2008 and 2018 datasets

In [80]:
len(V_08)-len(V_08.drop_duplicates())

23

In [81]:
len(V_18)-len(V_18.drop_duplicates())

3

# drop duplicates in both datasets

In [82]:
V_08.drop_duplicates(inplace = True )

In [83]:
V_18.drop_duplicates(inplace = True )

# print number of duplicates again to confirm dedupe - should both be 0

In [84]:
len(V_08)-len(V_08.drop_duplicates())

0

In [85]:
len(V_18)-len(V_18.drop_duplicates())

0

In [86]:
V_08.to_csv('data_08_v2.csv', index=False)
V_18.to_csv('data_18_v2.csv', index=False)

# Fixing `cyl` Data Type
- 2008: extract int from string
- 2018: convert float to int

Load datasets `data_08_v2.csv` and `data_18_v2.csv`. You should've created these data files in the previous section: *Filter, Drop Nulls, Dedupe*.

In [87]:
V_08=pd.read_csv('data_08_v2.csv')
V_18=pd.read_csv('data_18_v2.csv')

In [88]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [89]:
V_18.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,22,4,No
2,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,small car,3,23,33,27,6,No
3,ACURA TLX,3.5,6.0,SemiAuto-9,2WD,Gasoline,small car,3,20,32,24,5,No
4,ACURA TLX,3.5,6.0,SemiAuto-9,4WD,Gasoline,small car,3,21,30,24,5,No

# check value counts for the 2008 cyl column

In [90]:
V_08['cyl'].value_counts()

cyl
(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: count, dtype: int64

In [91]:
V_18['cyl'].value_counts()

cyl
4.0     365
6.0     246
8.0     153
3.0      18
12.0      9
5.0       2
16.0      1
Name: count, dtype: int64

In [92]:
V_08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

## Extract Int from String

This is a Regular Expression pattern \d is a regex pattern for digit 

+ is a regex pattern for at least (one or more) since they are enclosed in a ( ) that means the group that you want to capture.

Regex Explanation:

    Extract/capture one or more digit (0 - 9)

In [93]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [94]:
V_08['cyl']=V_08['cyl'].str.extract('(\d+)').astype(int)

In [95]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

# Check value counts for 2008 cyl column again to confirm the change

In [96]:
V_08['cyl'].value_counts()

cyl
6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: count, dtype: int64

# # Now convert the column of cyl in 2018 from string to int using astype method

In [97]:
V_18['cyl']=V_18['cyl'].astype('int32')

In [98]:
V_18.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,22,4,No
2,ACURA TLX,2.4,4,AMS-8,2WD,Gasoline,small car,3,23,33,27,6,No
3,ACURA TLX,3.5,6,SemiAuto-9,2WD,Gasoline,small car,3,20,32,24,5,No
4,ACURA TLX,3.5,6,SemiAuto-9,4WD,Gasoline,small car,3,21,30,24,5,No

In [99]:
V_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 794 non-null    object
 1   displ                 794 non-null    float64
 2   cyl                   794 non-null    int32
 3   trans                 794 non-null    object
 4   drive                 794 non-null    object
 5   fuel                  794 non-null    object
 6   veh_class             794 non-null    object
 7   air_pollution_score   794 non-null    int64
 8   city_mpg              794 non-null    object
 9   hwy_mpg               794 non-null    object
 10  cmb_mpg               794 non-null    object
 11  greenhouse_gas_score  794 non-null    int64
 12  smartway              794 non-null    object
dtypes: float64(1), int32(1), int64(2), object(9)
memory usage: 77.7+ KB

In [100]:
V_08.to_csv('data_08_v3.csv', index=False)
V_18.to_csv('data_18_v3.csv', index=False)

# Fixing `air_pollution_score` Data Type
- 2008: convert string to float
- 2018: convert int to float

Load datasets `data_08_v3.csv` and `data_18_v3.csv`. You should've created these data files in the previous section: *Fixing Data Types Pt 1*.

In [101]:
V_08=pd.read_csv('data_08_v3.csv')
V_18=pd.read_csv('data_18_v3.csv')

# try using pandas' to_numeric or astype function to convert the
# 2008 air_pollution_score column to float -- this won't work

In [102]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

# Figuring out the issue
Looks like this isn't going to be as simple as converting the datatype. According to the error above, the air pollution score value in one of the rows is "6/4" - let's check it out.

In [103]:
V_08['air_pollution_score'].unique()

array(['7', '6', '9.5', '9', '6/4'], dtype=object)

# It's not just the air pollution score!

we have values with **6/4** which means that we have more than fuel type in the same car

The mpg columns and greenhouse gas scores also seem to have the same problem - maybe that's why these were all saved as strings! According to [this link](http://www.fueleconomy.gov/feg/findacarhelp.shtml#airPollutionScore), which I found from the PDF documentation:

    "If a vehicle can operate on more than one type of fuel, an estimate is provided for each fuel type."
    
Ohh... so all vehicles with more than one fuel type, or hybrids, like the one above (it uses ethanol AND gas) will have a string that holds two values - one for each. This is a little tricky, so I'm going to show you how to do it with the 2008 dataset, and then you'll try it with the 2018 dataset.

# First, let's get all the hybrids in 2008 in fuel column/

In [104]:
hb_08 = V_08[V_08['fuel'].str.contains('/')]
hb_08

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

# Looks like this dataset only has one! The 2018 has MANY more - but don't worry - the steps I'm taking here will work for that as well!

In [105]:
hb_18 = V_18[V_18['fuel'].str.contains('/')]
hb_18.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
52,BMW 330e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,3,28/66,34/78,30/71,10,Yes
78,BMW 530e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,7,27/70,31/75,29/72,10,Elite
79,BMW 530e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small car,7,27/66,31/68,28/67,10,Elite
92,BMW 740e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,large car,3,25/62,29/68,27/64,9,Yes
189,CHEVROLET Impala,3.6,6,SemiAuto-6,2WD,Ethanol/Gas,large car,5,14/18,20/28,16/22,4,No

# We're going to take each hybrid row 

# and split them into two new rows - 

# one with values for the first fuel type (values before the "/"), 

# and the other with values for the second fuel type (values after the "/"). 

# Let's separate them with two dataframes!

In [167]:
# create two copies of the 2008 hybrids dataframe
df1 = hb_08.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_08.copy()  # data on second fuel type of each hybrid vehicle

# Each one should look like this
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

# Lets get all the columns that have multi-values with "/" sign in the both dataset


For this next part, we're going use pandas' apply function. See the docs [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html).

In [168]:
# columns to split by "/"
split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [169]:
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no

In [170]:
df2

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

# combine dataframes to add to the original dataframe

In [171]:
arr=[4,5,6,9]
arr.append(20)
arr

[4, 5, 6, 9, 20]

In [172]:
# new_rows = df1.append(df2,ignore_index=True)
# new_rows
new_rows = pd.concat([df1,df2], ignore_index=True)
new_rows

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
1,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

# now we have separate rows for each fuel type of each vehicle!

In [173]:
new_rows

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
1,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

# drop the original hybrid rows

In [174]:
hb_08.index

Index([582], dtype='int64')

In [175]:
V_08.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       976, 977, 978, 979, 980, 981, 982, 983, 984, 985],
      dtype='int64', length=985)

In [180]:
# V_08.drop(hb_08.index, inplace=True)

In [177]:
V_08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17,26,20,6,yes

In [178]:
V_08['air_pollution_score'].unique()

array([7. , 6. , 9.5, 9. ])

# add in our newly separated rows

In [181]:
# V_08 = V_08.append(new_rows, ignore_index=True)

# new_rows = df1.append(df2,ignore_index=True)
# new_rows
V_08 = pd.concat([V_08,new_rows], ignore_index=True)
V_08

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17,26,20,6,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,VOLVO XC 90,3.2,6,Auto-S6,2WD,Gasoline,SUV,7.0,14,20,16,4,no
983,VOLVO XC 90,3.2,6,Auto-S6,4WD,Gasoline,SUV,7.0,14,20,16,4,no
984,VOLVO XC 90,4.4,8,Auto-S6,4WD,Gasoline,SUV,7.0,13,19,15,3,no
985,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
986,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [182]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17,26,20,6,yes

In [183]:
V_08['air_pollution_score'].unique()

array([7.0, 6.0, 9.5, 9.0, '6', '4'], dtype=object)

In [184]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17,26,20,6,yes

In [185]:
# check that they're gone
V_08[V_08['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [186]:
V_18['fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas'],
      dtype=object)

# Repeat this process for the 2018 dataset

# create two copies of the 2018 hybrids dataframe, hb_18

In [187]:
df1 = hb_18.copy() 
df2 = hb_18.copy()

### Split values for `fuel`, `city_mpg`, `hwy_mpg`, `cmb_mpg`
You don't need to split for `air_pollution_score` or `greenhouse_gas_score` here because these columns are already ints in the 2018 dataset.

In [188]:
# columns to split by "/"
split_columns = ['fuel', 'city_mpg', 'hwy_mpg', 'cmb_mpg']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [194]:
# append the two dataframes
new_rows = pd.concat([df1,df2], ignore_index=True)


# drop each hybrid row from the original 2018 dataframe
# do this by using pandas' drop function with hb_18's index
V_18.drop(hb_18.index, inplace=True)

# append new_rows to df_18
# V_18 = V_08.append(new_rows)
V_18 = pd.concat([V_18,new_rows], ignore_index=True)
V_18

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17,26,20,6,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,TOYOTA Sequoia FFV,5.7,8,SemiAuto-6,4WD,Gas,standard SUV,5,13,17,14,1,No
1097,TOYOTA Tundra FFV,5.7,8,SemiAuto-6,4WD,Gas,pickup,5,13,17,15,2,No
1098,VOLVO S90,2.0,4,SemiAuto-8,4WD,Electricity,midsize car,7,70,72,71,10,Elite
1099,VOLVO XC 60,2.0,4,SemiAuto-8,4WD,Electricity,small SUV,7,60,58,59,10,Elite
1100,VOLVO XC 90,2.0,4,SemiAuto-8,4WD,Electricity,standard SUV,7,63,61,62,10,Elite

In [195]:
V_18['fuel'].unique()

array(['Gasoline', 'CNG', 'ethanol', 'gas', 'Ethanol', 'Electricity',
       'Gas'], dtype=object)

In [196]:
# check that they're gone
V_18[V_18['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [197]:
V_18.shape

(1101, 13)

In [198]:
V_08.shape

(987, 13)

In [199]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17,26,20,6,yes

# convert string to float for 2008 air pollution column

In [200]:
V_08['air_pollution_score']=V_08['air_pollution_score'].astype('float')

In [201]:
V_08['air_pollution_score'].unique()

array([7. , 6. , 9.5, 9. , 4. ])

# convert int to float for 2018 air pollution column

In [202]:
V_18['air_pollution_score']=V_18['air_pollution_score'].astype('float')

In [203]:
V_18['air_pollution_score'].unique()

array([7. , 6. , 9.5, 9. , 4. , 3. , 5. , 1. ])

In [204]:
V_08.to_csv('data_08_v4.csv', index=False)
V_18.to_csv('data_18_v4.csv', index=False)

## Fix `city_mpg`, `hwy_mpg`, `cmb_mpg` datatypes
    2008 and 2018: convert string to float

Load datasets `data_08_v4.csv` and `data_18_v4.csv`. You should've created these data files in the previous section: *Fixing Data Types Pt 2*.

In [205]:
V_08=pd.read_csv('data_08_v4.csv')

V_18=pd.read_csv('data_18_v4.csv')

In [206]:
V_08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17,26,20,6,yes

In [207]:
V_18.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17,26,20,6,yes

# convert mpg columns to floats

In [208]:
mpg_columns = ['city_mpg','hwy_mpg','cmb_mpg']
for c in mpg_columns:
    V_08[c] = V_08[c].astype('float')
    V_18[c] = V_18[c].astype('float')

## Fix `greenhouse_gas_score` datatype
    2008: convert from float to int

In [209]:
# convert from float to int
V_08['greenhouse_gas_score'] = V_08['greenhouse_gas_score'].astype('int')

## All the dataypes are now fixed! Take one last check to confirm all the changes.

In [210]:
V_08.dtypes

model                    object
displ                   float64
cyl                       int64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score     float64
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score      int32
smartway                 object
dtype: object

In [211]:
V_18.dtypes

model                    object
displ                   float64
cyl                       int64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score     float64
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score      int64
smartway                 object
dtype: object

# Save your final CLEAN datasets as new files!

In [212]:
V_08.to_csv('clean_08.csv', index=False)
V_18.to_csv('clean_18.csv', index=False)

# Merging Datasets
Use Pandas Merges to create a combined dataset from `clean_08.csv` and `clean_18.csv`.

1- **Rename 2008 columns to distinguish from 2018 columns after the merge**

To do this, use pandas' rename() with a lambda function. See example [Here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In the lambda function, take the first 10 characters of the column label and and concatenate it with _2008. (Only take the first 10 characters to prevent really long column names.)

The lambda function should look something like this: lambda x: x[:10] + "_2008"

In your rename, don't forget to specify the parameter columns= when you add the lambda function!


2- **Perform inner merge**

To answer the last question, we are only interested in how the same model of car has been updated and how the new model's mpg compares to the old model's mpg.

Perform an inner merge with the left on model_2008 and the right on model. See documentation for pandas' merge [Here](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html).

In [213]:
# load datasets
import pandas as pd

df_08 = pd.read_csv('clean_08.csv')
df_18 = pd.read_csv('clean_18.csv')

# Create combined dataset

## rename 2008 columns

In [214]:
df_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

In [215]:
df_18.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

In [216]:
df_08.rename(columns=lambda x: x + "_2008", inplace=True)
df_08.head(5)

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollution_score_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_gas_score_2008,smartway_2008
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

## view to check names

In [217]:
df_08.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollution_score_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_gas_score_2008,smartway_2008
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

In [218]:
df_18.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

## lets merge the two datasets

In [219]:
df_combined = df_08.merge(df_18, left_on='model_2008', right_on='model', how='inner')

## view to check merge

In [220]:
df_combined.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollution_score_2008,city_mpg_2008,hwy_mpg_2008,...,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,...,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,...,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,...,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,...,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,...,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

In [221]:
df_combined.to_csv('combined_dataset.csv', index=False)

# Results with Merged Dataset
#### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?
Remember to use your new dataset, `combined_dataset.csv`

In [222]:
# load dataset
import pandas as pd
df = pd.read_csv('combined_dataset.csv')

### 1. Create a new dataframe, `model_mpg`, that contain the mean combined mpg values in 2008 and 2018 for each unique model

To do this, group by `model` and find the mean `cmb_mpg_2008` and mean `cmb_mpg` for each.

In [229]:
df['model'].unique()

array(['ACURA MDX', 'ACURA RDX', 'ACURA RL', 'ACURA TL', 'ACURA TSX',
       'ASTON MARTIN DB9', 'ASTON MARTIN DB9 Volante',
       'ASTON MARTIN V8 Vantage', 'AUDI A3', 'AUDI A4', 'AUDI A4 Avant',
       'AUDI A4 Cabriolet', 'AUDI A6', 'AUDI A6 Avant', 'AUDI A8',
       'AUDI A8 L', 'AUDI Q7', 'AUDI R8', 'AUDI RS4',
       'AUDI RS4 Cabriolet', 'AUDI S4', 'AUDI S4 Avant',
       'AUDI S4 Cabriolet', 'AUDI S5', 'AUDI S6', 'AUDI S8',
       'AUDI TT Coupe', 'AUDI TT Roadster', 'BENTLEY Arnage',
       'BENTLEY Azure', 'BENTLEY Continental Flying Spur',
       'BENTLEY Continental GT', 'BENTLEY Continental GTC', 'BMW 328ci',
       'BMW 328ci Convertible', 'BMW 328cxi', 'BMW 328i',
       'BMW 328i Sport Wagon', 'BMW 328xi', 'BMW 328xi Sport Wagon',
       'BMW 335ci', 'BMW 335ci Convertible', 'BMW 335cxi', 'BMW 335i',
       'BMW 335xi', 'BMW 528i', 'BMW 528xi', 'BMW 535i', 'BMW 535xi',
       'BMW 535xi Sport Wagon', 'BMW 550i', 'BMW 650ci',
       'BMW 650ci Convertible', 'BMW 750i', 'BMW 750li', 'BMW 760li',
       'BMW Alpina B7', 'BMW M5', 'BMW M6', 'BMW M6 Convertible',
       'BMW X3', 'BMW X5', 'BMW Z4', 'BMW Z4 Coupe', 'BUGATTI Veyron',
       'BUICK Allure', 'BUICK Enclave', 'BUICK LaCrosse', 'BUICK Lucerne',
       'BUICK Terraza', 'CADILLAC CTS', 'CADILLAC Escalade',
       'CADILLAC SRX', 'CADILLAC STS', 'CADILLAC XLR',
       'CHEVROLET Classic', 'CHEVROLET Cobalt', 'CHEVROLET Corvette',
       'CHEVROLET Equinox', 'CHEVROLET Express 1500',
       'CHEVROLET Express 2500', 'CHEVROLET HHR', 'CHEVROLET Impala',
       'CHEVROLET Malibu', 'CHEVROLET Malibu Hybrid',
       'CHEVROLET Silverado 15', 'CHEVROLET Tahoe 1500',
       'CHEVROLET Tahoe 1500 Hybrid', 'CHEVROLET Trailblazer',
       'CHEVROLET Uplander', 'CHEVROLET Van 1500', 'CHEVROLET Van 2500',
       'CHRYSLER 300', 'CHRYSLER Aspen', 'CHRYSLER Crossfire',
       'CHRYSLER PT Cruiser', 'CHRYSLER PT Cruiser Convertible',
       'CHRYSLER Pacifica', 'CHRYSLER SRT-8', 'CHRYSLER Sebring',
       'CHRYSLER Sebring Convertible', 'CHRYSLER Town & Country',
       'DODGE Avenger', 'DODGE Caliber', 'DODGE Caravan',
       'DODGE Challenger', 'DODGE Charger', 'DODGE Dakota',
       'DODGE Durango', 'DODGE Magnum', 'DODGE Nitro', 'DODGE RAM 1500',
       'DODGE Viper', 'DODGE Viper Convertible',
       'FERRARI 599 GTB Fiorano', 'FERRARI 612 Scaglietti', 'FORD Edge',
       'FORD Escape', 'FORD Escape Hybrid', 'FORD Expedition',
       'FORD Explorer', 'FORD Explorer Sport Trac', 'FORD F150',
       'FORD F150 STX SE', 'FORD Fusion', 'FORD Mustang', 'FORD Ranger',
       'FORD Taurus', 'FORD Taurus X', 'GMC Acadia', 'GMC Envoy',
       'GMC Savana 1500', 'GMC Savana 2500', 'GMC Sierra 15',
       'GMC Yukon 1500', 'GMC Yukon 1500 Hybrid', 'HONDA Accord',
       'HONDA CR-V', 'HONDA Civic', 'HONDA Civic Hybrid', 'HONDA Element',
       'HONDA Fit', 'HONDA Odyssey', 'HONDA Pilot', 'HONDA Ridgeline',
       'HONDA S2000', 'HUMMER H3', 'HYUNDAI Accent', 'HYUNDAI Azera',
       'HYUNDAI Elantra', 'HYUNDAI Entourage', 'HYUNDAI Santa Fe',
       'HYUNDAI Sonata', 'HYUNDAI Tiburon', 'HYUNDAI Tucson',
       'HYUNDAI Veracruz', 'INFINITI FX35', 'INFINITI FX45',
       'INFINITI G35', 'INFINITI G37', 'INFINITI M35', 'INFINITI M35X',
       'INFINITI M45', 'INFINITI M45X', 'INFINITI QX56', 'JEEP Commander',
       'JEEP Compass', 'JEEP Grand Cherokee', 'JEEP Liberty',
       'JEEP Patriot', 'JEEP Wrangler', 'KIA Amanti', 'KIA Optima',
       'KIA Rio', 'KIA Rondo', 'KIA Sedona', 'KIA Sorento', 'KIA Spectra',
       'KIA Sportage', 'LAMBORGHINI Gallardo Coupe',
       'LAMBORGHINI Gallardo Spyder', 'LAMBORGHINI Murcielago',
       'LAMBORGHINI Murcielago Reventon',
       'LAMBORGHINI Murcielago Roadster', 'LAND ROVER LR2',
       'LAND ROVER LR3', 'LAND ROVER Range Rover',
       'LAND ROVER Range Rover Sport', 'LEXUS ES 350', 'LEXUS GS 350',
       'LEXUS GS 450h', 'LEXUS GS 460', 'LEXUS GX 470', 'LEXUS IS 250',
       'LEXUS IS 350', 'LEXUS LS 460', 'LEXUS LS 460 L', 'LEXUS LS 600HL',
       'LEXUS LX 570', 'LEXUS RX 350', 'LEXUS RX 400H', 'LEXUS SC 430',
       'LINCOLN MKX', 'LINCOLN MKZ', 'LINCOLN Mark LT',
       'LINCOLN Navigator', 'LOTUS Elise', 'LOTUS Exige',
       'MASERATI Granturismo', 'MASERATI Quattroporte', 'MAZDA 3',
       'MAZDA 5', 'MAZDA 6', 'MAZDA B2300', 'MAZDA B3000', 'MAZDA B4000',
       'MAZDA CX-7', 'MAZDA CX-9', 'MAZDA MX-5', 'MAZDA RX-8',
       'MAZDA Tribute', 'MAZDA Tribute Hybrid', 'MERCEDES-BENZ CL550',
       'MERCEDES-BENZ CL600', 'MERCEDES-BENZ CL65 AMG',
       'MERCEDES-BENZ CLK63 AMG', 'MERCEDES-BENZ CLK63 AMG Cabriolet',
       'MERCEDES-BENZ CLS63 AMG', 'MERCEDES-BENZ E350',
       'MERCEDES-BENZ E550 4Matic', 'MERCEDES-BENZ E63 AMG',
       'MERCEDES-BENZ E63 AMG Wagon', 'MERCEDES-BENZ G500',
       'MERCEDES-BENZ G55 AMG', 'MERCEDES-BENZ GL450 4Matic',
       'MERCEDES-BENZ GL550 4Matic', 'MERCEDES-BENZ ML350 4Matic',
       'MERCEDES-BENZ ML550 4Matic', 'MERCEDES-BENZ Maybach 57',
       'MERCEDES-BENZ Maybach 57S', 'MERCEDES-BENZ Maybach 62',
       'MERCEDES-BENZ Maybach 62S', 'MERCEDES-BENZ R350',
       'MERCEDES-BENZ R350 4Matic', 'MERCEDES-BENZ S550',
       'MERCEDES-BENZ S550 4Matic', 'MERCEDES-BENZ S600',
       'MERCEDES-BENZ S63 AMG', 'MERCEDES-BENZ S65 AMG',
       'MERCEDES-BENZ SL55 AMG', 'MERCEDES-BENZ SL550',
       'MERCEDES-BENZ SL600', 'MERCEDES-BENZ SL65 AMG',
       'MERCEDES-BENZ SLK55 AMG', 'MERCEDES-BENZ SLR', 'MERCURY Mariner',
       'MERCURY Mariner Hybrid', 'MERCURY Milan', 'MERCURY Mountaineer',
       'MERCURY Sable', 'MINI Mini Cooper Convertible',
       'MINI Mini Cooper S Convertible', 'MITSUBISHI Eclipse',
       'MITSUBISHI Eclipse Spyder', 'MITSUBISHI Endeavor',
       'MITSUBISHI Galant', 'MITSUBISHI Lancer', 'MITSUBISHI Outlander',
       'MITSUBISHI Raider', 'NISSAN 350Z', 'NISSAN 350Z Roadster',
       'NISSAN Altima', 'NISSAN Altima Hybrid', 'NISSAN Armada',
       'NISSAN Frontier', 'NISSAN Maxima', 'NISSAN Pathfinder',
       'NISSAN Quest', 'NISSAN Rogue', 'NISSAN Sentra', 'NISSAN Titan',
       'NISSAN Versa', 'NISSAN Xterra', 'PONTIAC G5', 'PONTIAC G6',
       'PONTIAC G8', 'PONTIAC Grand Prix', 'PONTIAC Pursuit',
       'PONTIAC Solstice', 'PONTIAC Torrent', 'PONTIAC Vibe',
       'PORSCHE 911 GT2', 'PORSCHE 911 GT3', 'PORSCHE 911 GT3 RS',
       'PORSCHE 911 Turbo', 'PORSCHE 911 Turbo Cabriolet',
       'PORSCHE Boxster', 'PORSCHE Boxster S',
       'PORSCHE Carrera Cabriolet', 'PORSCHE Carrera Coupe',
       'PORSCHE Carrera Targa', 'PORSCHE Cayenne', 'PORSCHE Cayenne S',
       'PORSCHE Cayenne Turbo', 'PORSCHE Cayman', 'PORSCHE Cayman S',
       'ROLLS-ROYCE Phantom', 'ROUSH Stage 3 F150',
       'ROUSH Stage 3 Mustang', 'SAAB 9-3 Convertible',
       'SAAB 9-3 Sport Sedan', 'SAAB 9-3 Sportcombi', 'SAAB 9-5',
       'SAAB 9-5 Sportcombi', 'SAAB 9-7X', 'SALEEN S281', 'SATURN Aura',
       'SATURN Aura Hybrid', 'SATURN Outlook', 'SATURN Sky', 'SATURN Vue',
       'SHELBY Mustang GT', 'SUBARU Forester', 'SUBARU Impreza',
       'SUBARU Impreza Wagon', 'SUBARU Legacy', 'SUBARU Outback Sport',
       'SUBARU Outback Wagon', 'SUBARU Tribeca', 'SUZUKI Grand Vitara',
       'SUZUKI SX4', 'TOYOTA 4Runner', 'TOYOTA Avalon', 'TOYOTA Camry',
       'TOYOTA Camry Hybrid', 'TOYOTA Corolla', 'TOYOTA FJ Cruiser',
       'TOYOTA Highlander', 'TOYOTA Highlander Hybrid',
       'TOYOTA Land Cruiser', 'TOYOTA Matrix', 'TOYOTA Prius',
       'TOYOTA RAV4', 'TOYOTA Scion TC', 'TOYOTA Scion XB',
       'TOYOTA Scion XD', 'TOYOTA Sequoia', 'TOYOTA Sienna',
       'TOYOTA Solara', 'TOYOTA Solara Convertible', 'TOYOTA Tacoma',
       'TOYOTA Tundra', 'TOYOTA Yaris', 'VOLKSWAGEN Eos',
       'VOLKSWAGEN GTI', 'VOLKSWAGEN Jetta', 'VOLKSWAGEN Jetta Wagon',
       'VOLKSWAGEN New Beetle', 'VOLKSWAGEN New Beetle Convertible',
       'VOLKSWAGEN Passat', 'VOLKSWAGEN Passat Wagon', 'VOLKSWAGEN R32',
       'VOLKSWAGEN Rabbit', 'VOLKSWAGEN Touareg', 'VOLVO C30',
       'VOLVO C70 Convertible', 'VOLVO S40', 'VOLVO S60', 'VOLVO S80',
       'VOLVO V50', 'VOLVO V70', 'VOLVO XC 70', 'VOLVO XC 90',
       'MERCEDES-BENZ C300'], dtype=object)

In [231]:
# model_mpg = df.groupby('model').mean()[['cmb_mpg_2008', 'cmb_mpg']]
import pandas as pd

# Assuming df is your DataFrame
# Check for non-numeric values in the 'model' column
non_numeric_models = df[~df['model'].str.isnumeric()]['model'].unique()

# Display non-numeric models
# print("Non-numeric models:", non_numeric_models)

# If there are non-numeric values, you might want to handle them appropriately
# For example, you can choose to drop rows with non-numeric values in the 'model' column
df = df[df['model'].str.isnumeric()]

# Now you can proceed with the groupby and mean calculation
model_mpg = df.groupby('model').mean()[['cmb_mpg_2008', 'cmb_mpg']]
model_mpg

Empty DataFrame
Columns: [cmb_mpg_2008, cmb_mpg]
Index: []

In [ ]:
model_mpg.head()

### 2. Create a new column, `mpg_change`, with the change in mpg
Subtract the mean mpg in 2008 from that in 2018 to get the change in mpg

In [ ]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']

In [ ]:
model_mpg

### 3. Find the vehicle that improved the most
Find the max mpg change, and then use query or indexing to see what model it is!

In [ ]:
max_change = model_mpg['mpg_change'].max()
max_change

In [ ]:
model_mpg[model_mpg['mpg_change'] == max_change]

Pandas also has a useful [`idxmax`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmax.html) function you can use to find the index of the row containing a column's maximum value!

In [224]:
idx = model_mpg.mpg_change.idxmax()
idx

NameError: name 'model_mpg' is not defined

In [225]:
model_mpg.loc[idx]

NameError: name 'model_mpg' is not defined